<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Site.css")

</head>
<body>
    <div class="mybardiv">
        <a href="@Url.Action( "Index", "Home")">
            <img class="leftimg" src="~/Content/LabelMain_2.png" />
        </a>
        <ul class="mybar" style="float: right">
            <li class="mybar">@Html.Partial("_LoginPartial")</li>
        </ul>
        <br />
        <br />
        <ul class="mybar">
            <li class="mybar">@Html.ActionLink("ВИДЫ РАБОТ", "ListOfJobs", "Job")</li>
            <li class="mybar">@Html.ActionLink("ЦЕНЫ", "GetAllKinds", "Kind")</li>
            <li class="mybar">@Html.ActionLink("ФОТОГАЛЕРЕЯ", "PhotoGalery", "Project")</li>
            @*<li class="mybar">@Html.ActionLink("ГАРАНТИИ", "Guarantee", "Contact")</li>*@
            <li class="mybar">@Html.ActionLink("ОТЗЫВЫ", "Comments", "Comment")</li>
            <li class="mybar">@Html.ActionLink("О НАС", "AboutUs", "About")</li>
            @*<li class="mybar">@Html.ActionLink("ДОКУМЕНТАЦИЯ", "Certificate", "Contact")</li>*@
            @*<li class="mybar">@Html.ActionLink("НАШИ СПЕЦИАЛИСТЫ", "Specialists", "Contact")</li>*@
            <li class="mybar">@Html.ActionLink("КОНТАКТЫ", "Contacts", "Contact")</li>
        </ul>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @ViewBag.Title </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
