<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/ADMIN/Admin_Styles.css")

    @RenderSection("Header", required: false)

</head>
<body>
    <ul class="topnav">
        <li class="active">@Html.ActionLink("АДМИН-ПАНЕЛЬ", "AdminPanel", "Admin")</li>
        <li class="active">@Html.ActionLink("ПОЛЬЗОВАТЕЛИ И ПРАВА ДОСТУПА", "AllRoles", "Role")</li>
        <li class="active">@Html.ActionLink("ОТЗЫВЫ И ЗАГРУЗКИ", "AllComments_Admin", "Comment")</li>
        <li class="active">@Html.ActionLink("ЗАЯВКИ НА ЗВОНОК", "AllCallMee_Admin", "CallMee")</li>
        @*<li class="active">@Html.ActionLink("ФОТОГАЛЕРЕЯ И ОБЬЕКТЫ", "ObjectAndUploadPhoto", "UploadPhoto")</li>*@
        <li class="active">@Html.ActionLink("ВИДЫ РАБОТ И РАСЦЕНКИ", "JobsKinds_Admin", "Job")</li>
        <li class="right">@Html.Partial("_LoginPartial")</li>

    </ul>
    @RenderBody()
    @RenderSection("Body", required: false)
    @RenderSection("Footer", required: false)
    @RenderSection("scripts", required: false)
</body>
</html>
