@using RemontUnderKey.Web.Models
@model Upload_View

@section Body{
    @using (Html.BeginForm("AddFile", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <hr class="eraser" />
        <p style="font-size:xx-large; text-align: center;" class="eraser">@ViewBag.Title</p>
        <div class="form-horizontal" style="padding-left: 3%; padding-top: 2%; padding-right: 3%; padding-bottom: 3%">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <p>
                @ViewBag.Message
            </p>
            @Html.HiddenFor(m => m.Comment_ViewId, new { @Value = (int)@TempData["IdOfComment"] })
            <div class="eraser">
                <p>
                    @ViewBag.Salute
                </p>
                <div class="form-group">
                    @Html.LabelFor(model => model.File, htmlAttributes: new { @class = "control-label col-md-2" })
                    <p> &emsp; </p>
                    <div class="col-md-10">
                        <input id="fileupload" name="fileupload" type="file" />
                        <p> &emsp; </p>
                        @Html.ValidationMessageFor(model => model.File, "", new { @class = "text-danger" })
                    </div>
                </div>
                <p> &emsp; </p>
                <div>
                    <input type="submit" value="ЗАГРУЗИТЬ" class="eraserbutton" />
                </div>
            </div>
        </div>
    }
}

