@using RemontUnderKey.Web.Models
@model Upload_View
@section Header {
    @Styles.Render("~/Content/ADMIN/Admin_Styles.css")
}
@{
    if (@Model != null)
    {
        int lenthoffile = @Model.File.Length;
        string imageBase64 = Convert.ToBase64String(@Model.File);
        string imageType = @Model.FileType;
        string imageSrc = string.Format("data:{1};base64,{0}", imageBase64, imageType);

        <span class="block3">
            <a href="#@Model.Id">
                <img src="@imageSrc" width="150" height="150" alt="@Model.FileName" />
            </a>
            <button>
            @Html.ActionLink("УДАЛИТЬ", "DeleteFile_Admin", new { id = Model.Id })
            </button>
        </span>
        <!-- Модальное окно -->
        <a href="#x" class="overlay3" id="@Model.Id"></a>
        <div class="popup3">
            <img src="@imageSrc" alt="@Model.FileName" height="550" />
            <a class="close3" title="ЗАКРЫТЬ" href="#close"></a>
        </div>
    }
}
