@using RemontUnderKey.Web.Models
@using System.ComponentModel.DataAnnotations
@model CallMee_View

<div>
    @using (Html.BeginForm("CreateCallMeeIndex", "CallMee", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <hr class="eraser" />
        <p style="font-size: large; text-align: center; font-family: My_eraser_font;">@ViewBag.Title2</p>
        <div class="form-horizontal" style="padding-left: 3%; padding-top: 2%; padding-right: 3%; padding-bottom: 3%">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <p>
                @ViewBag.Message
            </p>
            <div class="eraser">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Name, new {@class = "eraser", placeholder = Html.DisplayNameFor(m => m.Name) })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <p> &emsp; </p>
                <div class="form-group">
                    @Html.LabelFor(model => model.Telephone, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Telephone, new { @class = "eraser", placeholder = Html.DisplayNameFor(m => m.Telephone) })
                        @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })
                    </div>
                </div>
                <p> &emsp; </p>
                <div class="form-group">
                    @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" style="width: 100%; box-sizing: border-box;">
                        @Html.TextAreaFor(model => model.Comments, 5, 200, new { @class = "eraser", placeholder = Html.DisplayNameFor(m => m.Comments)})
                        @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                    </div>
                </div>
                <p> &emsp; </p>
                <div>
                    <input type="submit" value="ПРИГЛАСИТЬ НА ОБЬЕКТ" class="callmeebuttonindex" />
                </div>
                <br />
            </div>
        </div>
        <hr class="eraser" />
    }
</div>



