@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

@section Body{
    <div>
        @ViewBag.Result
    </div>
    <table align="center" border="1">
        <thead>
            <tr>
                <th>
                    №П/П
                </th>
                <th>
                    РОЛЬ
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (string role in @ViewBag.listofrolesofuser)
            {
                <tr>
                    <td>@(++ViewBag.Num)</td>
                    <td>@role</td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        @Html.ActionLink("К СПИСКУ", "AllRoles", "Role")
    </div>
}