
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

@section Body{
    <div style="text-align: center;  margin-top: 5px; margin-bottom: 15px; color: black; font-size: x-large;">
        @ViewBag.TODO
    </div>
    <div style="text-align: center;  margin-top: 5px; margin-bottom: 5px; color: red; font-size: medium;">
        @ViewBag.Result
    </div>
    @using (Html.BeginForm())
    {
        <div class="form-horizontal" align="center">
            <p>Имя пользователя: </p>
            @Html.Editor("name", "Имя пользователя")
            <p>Выберите требуемую роль:</p>
            @Html.DropDownList("role", ViewBag.Roles as SelectList)
            <br />
            <p><input type="submit" value="ПОПРОБОВАТЬ ДОБАВИТЬ ЕЩЕ РАЗ" /></p>
        </div>
    }
    <div style="height: 15px; text-align: center; margin-top: 15px;"></div>
    <div style="text-align: center; margin-top: 35px;">
        <button>
            @Html.ActionLink("НАЗАД К СПИСКУ РОЛЕЙ", "AllRoles", "Role")
        </button>
    </div>
}
