@model Dictionary<string, List<string>>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<p></p>
<table class="table" border="1" cellspacing="0" align="center">
    <tr align="center">
        <th colspan="5" align="center" valign="middle">
            @ViewBag.Header
        </th>
    </tr>
    <tr align="center">
        <th align="center">
            ПОЛЬЗОВАТЕЛЬ
        </th>
        <th align="center">
            ID ПОЛЬЗОВАТЕЛЯ
        </th>
        <th align="center">
            РОЛЬ
        </th>
        <th align="center">
            ДЕЙСТВИЯ НАД РОЛЯМИ ПОЛЬЗОВАТЕЛЯ
        </th>
        <th align="center">
            № п/п
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Key)
            </td>
            <td>
                @ViewBag.ListUserId[ViewBag.Num]

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                <table class="table" border="0" cellpadding="0" align="center">
                    <td align="center">
                        <form>
                            <button class="knopka_1" type="button">
                                <p>
                                    @Html.ActionLink("Добавить новую роль", "AddNewRole_Get", new { id = @ViewBag.ListUserId[ViewBag.Num] })
                                </p>
                            </button>
                        </form>
                    </td>
                    <td align="center">
                        <form>
                            <button class="knopka_1" type="button">
                                <p>
                                <p>
                                    @Html.ActionLink("Удалить существующую роль", "", new { id = @ViewBag.ListUserId[ViewBag.Num] })
                                </p>
                            </button>
                        </form>
                    </td>
                </table>
            </td>
            <td>
                @(ViewBag.Num = ViewBag.Num + 1)
            </td>
        </tr>
    }
</table>
<div>
    @Html.ActionLink("АДМИН-ПАНЕЛЬ", "AdminPanel", "Admin")
</div>



