@model Dictionary<string, List<string>>

@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

@section Body{

    <p></p>
    <table class="table" border="1" cellspacing="0" align="center">
        <tr align="center">
            <th colspan="5" align="center" valign="middle">
                @ViewBag.Header
            </th>
        </tr>
        <tr align="center">
            <th align="center">
                № п/п
            </th>
            <th align="center">
                ПОЛЬЗОВАТЕЛЬ
            </th>
            <th align="center">
                ID ПОЛЬЗОВАТЕЛЯ
            </th>
            <th align="center">
                РОЛЬ
            </th>
            <th align="center">
                ДЕЙСТВИЯ НАД РОЛЯМИ ПОЛЬЗОВАТЕЛЯ
            </th>
        </tr>
        @{
            int num = ViewBag.Num;
            int num2 = ViewBag.Num2;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(num = num + 1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Key)
                </td>
                <td>
                    @ViewBag.ListUserId[num2]
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    <table border="0" align="center">
                        <tr valign="top">
                            <td align="center">
                                <button>
                                    @Html.ActionLink("Добавить новую роль", "AddNewRole", new { id = @ViewBag.ListUserId[num2] })
                                </button>
                            </td>
                            <td align="center">
                                <button>
                                    @Html.ActionLink("Удалить существующую роль", "DeleteRole", new { id = @ViewBag.ListUserId[num2] })
                                </button>
                                <span style="color: white;">
                                    @(num2 = num2 + 1)
                                </span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        }
    </table>

    <div style="text-align: center;  margin-top: 15px; color: red; font-size: large;">
        @TempData["resredir"]
    </div>
    <table>
        <tr>
            <td style="width:50%; vertical-align: top;">
                <div style="display: block; text-align: center;">
                    @Html.Action("AddNewRoleInDB_Admin")
                </div>
            </td>
            <td style="width:50%; vertical-align: top;">
                <div style="display: block; text-align: center;">
                    @Html.Action("DeleteRoleFromDB_Admin")
                </div>
            </td>
        </tr>
    </table>

    <div style="text-align: center; width: 50%; margin-left: 25%; margin-top: 10px;">
        @Html.Action("AllRolesInDBToPartial_Admin")
    </div>

    <div style="text-align: center; margin-top: 15px;">
        <button>
            @Html.ActionLink("АДМИН-ПАНЕЛЬ", "AdminPanel", "Admin")
        </button>
    </div>
}



