@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

@section Body{
    <div style="text-align: center;  margin-top: 5px; margin-bottom: 5px; color: black; font-size: x-large;">
        @ViewBag.TODO
    </div>
    <div style="text-align: center;  margin-top: 5px; margin-bottom: 5px; color: red; font-size: medium;">
        @ViewBag.Result
    </div>
    @using (Html.BeginForm("DeleteRole_Post", "Role", FormMethod.Post))
    {
        <div class="form-horizontal" align="center">
            <p>Имя пользователя: </p>
            @Html.TextBox("name", @TempData["NameOfUser"])
            <p>Выберите роль для удаления :</p>
            @Html.DropDownList("role", ViewBag.Roles as SelectList)
            <p><input type="submit" value="УДАЛИТЬ РОЛЬ" /></p>
        </div>
    }

    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div style="text-align: center;">
        <button>
            @Html.ActionLink("НАЗАД К СПИСКУ РОЛЕЙ", "AllRoles", "Role")
        </button>
    </div>

}

