@section Body {
    <div class="homeindex">
        <table class="homeindex">
            <tr>
                <th colspan="6">
                    @Html.Action("GetAllTitleOfTypes", "Type")
                </th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td style="width:5%">
                    <img class="icon" src="~/Content/Icon/tracktransport.png" />
                </td>
                <td style="width:28%">@ViewBag.TD1</td>
                <td style="width:5%">
                    <img class="icon" src="~/Content/Icon/calcul_icon.png" />
                </td>
                <td style="width:28%">@ViewBag.TD2</td>
                <td style="width:5%">
                    <img class="icon" src="~/Content/Icon/banknotes_money.png" />
                </td>
                <td style="width:28%">@ViewBag.TD3</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="homeindex2">
        <table class="homeindex2">
            <tr>
                <th colspan="6" style="padding-left: 20%;">
                    @ViewBag.Salute2
                </th>
            </tr>
            <tr style="vertical-align: central;">
                <td>
                    @Html.Action("GetStage", "Stage", new { id = 1 })
                </td>
                <td>
                    <img class="icon" style="opacity: 1.0;" src="~/Content/Icon/footsteps.png" />
                </td>
                <td>
                    <img class="icon" style="opacity: 1.0;" src="~/Content/Icon/footsteps.png" />
                </td>
                <td>
                    <img class="icon" style="opacity: 1.0;" src="~/Content/Icon/footsteps.png" />
                </td>
                <td>
                    <img class="icon" style="opacity: 1.0;" src="~/Content/Icon/footsteps.png" />
                </td>
                <td>
                    @Html.Action("GetStage", "Stage", new { id = 2 })
                </td>
                <td>
                    <img class="icon" style="opacity: 1.0;" src="~/Content/Icon/footsteps.png" />
                </td>
                <td>
                    <img class="icon" style="opacity: 1.0;" src="~/Content/Icon/footsteps.png" />
                </td>
                <td>
                    <img class="icon" style="opacity: 1.0;" src="~/Content/Icon/footsteps.png" />
                </td>
                <td>
                    <img class="icon" style="opacity: 1.0;" src="~/Content/Icon/footsteps.png" />
                </td>
            </tr>
            <tr style="vertical-align: central;">
                <td>
                    @Html.Action("GetStage", "Stage", new { id = 3 })
                </td>
                <td>
                    <img class="icon" style="opacity: 1.0;" src="~/Content/Icon/footsteps.png" />
                </td>
                <td>
                    <img class="icon" style="opacity: 1.0;" src="~/Content/Icon/footsteps.png" />
                </td>
                <td>
                    <img class="icon" style="opacity: 1.0;" src="~/Content/Icon/footsteps.png" />
                </td>
                <td>
                    <img class="icon" style="opacity: 1.0;" src="~/Content/Icon/footsteps.png" />
                </td>
                <td>
                    @Html.Action("GetStage", "Stage", new { id = 4 })
                </td>
                <td>
                    <img class="icon" style="opacity: 1.0;" src="~/Content/Icon/footsteps.png" />
                </td>
                <td>
                    <img class="icon" style="opacity: 1.0;" src="~/Content/Icon/footsteps.png" />
                </td>
                <td>
                    <img class="icon" style="opacity: 1.0;" src="~/Content/Icon/footsteps.png" />
                </td>
                <td>
                    <img class="icon" style="opacity: 1.0;" src="~/Content/Icon/footsteps.png" />
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Action("GetStage", "Stage", new { id = 5 })
                </td>
                <td>
                    <img class="icon" style="opacity: 1.0;" src="~/Content/Icon/footsteps.png" />
                </td>
                <td>
                    <img class="icon" style="opacity: 1.0;" src="~/Content/Icon/footsteps.png" />
                </td>
                <td>
                    <img class="icon" style="opacity: 1.0;" src="~/Content/Icon/footsteps.png" />
                </td>
                <td>
                    <img class="icon" style="opacity: 1.0;" src="~/Content/Icon/footsteps.png" />
                </td>
                <td>
                    @Html.Action("GetStage", "Stage", new { id = 6 })
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="homeindex3">
        <table border="0">
            <tr>
                <th colspan="2">@ViewBag.Salute3</th>
            </tr>
            <tr>
                <td width="30%" rowspan="3">
                    <img src="~/Content/Images_my/specialist_photo.jpg"
                         alt="Фото специалиста по ремонту"
                         title="Александр, специалист по строительным работам"
                         data-description="Александр, специалист по строительным работам" />
                </td>
                <td width="70%">
                    <p>
                        @ViewBag.AboutMee
                    </p>
                    <ul>
                        @foreach (string item1 in (List<string>)TempData["AboutSpecList"])
                        {
                            <li>
                                @item1
                                <br />
                            </li>
                        }
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        @ViewBag.Help
                    </p>
                    <ul>
                        @foreach (string item2 in (List<string>)TempData["RepsonseList"])
                        {
                            <li>
                                @item2
                                <br />
                            </li>
                        }
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#InviteMee" class="eraserbuttonindex">
                        ПРИГЛАСИТЬ МЕНЯ НА ОБЬЕКТ ДЛЯ РАСЧЕТА СМЕТЫ
                    </a>
                    <p> &emsp; </p>
                </td>
            </tr>
        </table>
    </div>

    <!-- Модальное окно  -->
    <a href="#x" class="overlay" id="InviteMee"></a>
    <div class="popup">
        @Html.Action("CreateCallMeeIndex", "CallMee")
        <a class="close" title="ЗАКРЫТЬ" href="#close"></a>
    </div>
}



