@using RemontUnderKey.Web.Models
@model IEnumerable<TypeOfObject_View>

<div>
    @foreach (var item in Model)
    {
        <span class="block">
            <a href="#@item.Id">
                @item.TitleOfTypeOfObject
            </a>
        </span>
    }
    <span class="block" style="color: white">
        @ViewBag.Salute
    </span>
</div>
<!-- Модальное окно -->
@foreach (var item in Model)
{
    <a href="#x" class="overlay" id="@item.Id"></a>
    <div class="popup">
        <img src="@item.ImgSrc" alt="@item.TitleOfTypeOfObject" />
        <p>
            @item.DescriptionOfTypeOfObject
        </p>
        <a class="close" title="ЗАКРЫТЬ" href="#close"></a>
    </div>
}
