@using RemontUnderKey.Web.Models
@model LoginViewModel

@section Header{
    @Styles.Render("~/Content/mycss")
}
@section Body {

    <div class="salute" style="color: white; font-size: xx-large; text-align: center; margin-left: 6%; margin-bottom: -3%;">@ViewBag.Warning</div>
    <div class="rain">
        <div class="border start">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
            {
                <div style="color: red;">
                @Html.ValidationSummary()
                </div>
                @Html.AntiForgeryToken()

                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { @class = "eraser", @style = "border-radius: 10px; background: #000;", @placeholder = "***@***.**" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @style = "color: red;" })

                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "eraser", @style = "border-radius: 10px; background: #000;", @placeholder = "ВВЕДИТЕ ПАРОЛЬ" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @style = "color: red;" })

                @Html.LabelFor(m => m.RememberMe)
                @Html.CheckBoxFor(m => m.RememberMe, new { @class = "checkbox_login" })

                <div class="salute" style="margin-bottom: 15px; margin-top: 20px;">
                    @Html.ActionLink("ПЕРЕЙТИ К РЕГИСТРАЦИИ", "Register")
                </div>

                <input type="submit" value="ВХОД" />
            }
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/Scripts/Login.js")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
}
