@model RemontUnderKey.Web.Models.RegisterViewModel

@section Header{
    @Styles.Render("~/Content/mycss")
}
@section Body {
    <div class="salute" style="color: white; font-size: xx-large; text-align: center; margin-left: 3%; margin-bottom: -3%;">@ViewBag.Warning</div>
    <div class="rain">
        <div class="border start">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
            {
                <br />
                @Html.AntiForgeryToken()

                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { @class = "eraser", @style = "border-radius: 10px; background: #000;", @placeholder = "***@***.**" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @style = "color: red;" })

                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "eraser", @style = "border-radius: 10px; background: #000;", @placeholder = "ВВЕДИТЕ ПАРОЛЬ" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @style = "color: red;" })

                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "eraser", @style = "border-radius: 10px; background: #000;", @placeholder = "ПОВТОРНО ВВЕДИТЕ ПАРОЛЬ" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @style = "color: red;" })

                <div class="salute" style="margin-bottom: 15px; margin-top: 20px;">
                    @Html.ActionLink("ВОЙТИ НА САЙТ", "Login")
                </div>

                <input type="submit" value="РЕГИСТРАЦИЯ" />
            }
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/Scripts/Login.js")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
}
