@using RemontUnderKey.Web.Models
@model Comment_View

@section Body{
    @using (Html.BeginForm("CreateComment", "Comment", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <hr class="eraser" />
        <p style="font-size:xx-large; text-align: center;" class="eraser">@ViewBag.Salute</p>
        <p> &emsp; </p>
        <p style="font-size:xx-large; text-align: center;" class="eraser">@ViewBag.Result</p>
        <div class="form-horizontal" style="padding-left: 3%; padding-top: 2%; padding-right: 3%; padding-bottom: 3%">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <p>
                @ViewBag.Message
            </p>
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.UserId)
            @Html.HiddenFor(x => x.UserName)
            <div class="eraser">
                <div class="form-group">
                    @Html.LabelFor(model => model.MessageFromUser, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MessageFromUser, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MessageFromUser, "", new { @class = "text-danger" })
                    </div>
                </div>
                <p> &emsp; </p>
                <div>
                    @Html.Action("AllUploadsByNameOfUser", new { UserName = @User.Identity.Name })
                </div>
                <p> &emsp; </p>
                <div>
                    @Html.ActionLink("ЗАГРУЗИТЬ ФАЙЛ / ИЗОБРАЖЕНИЕ", "AddFileRedirect", new { id = Model.Id })
                </div>
                <p> &emsp; </p>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="ОТПРАВИТЬ" class="eraserbutton" />
                    </div>
                </div>
            </div>
        </div>
    }
    <div>
        @ViewBag.Result
    </div>
    <>
        @ViewBag.ResultFromUpload
    </>


}
