@using RemontUnderKey.Web.Models
@model Comment_View

@section Body{
    <p style="font-size: xx-large; text-align: center; font-family:My_Flex_font; ">@ViewBag.Salute</p>
    <div class="mydiv_ReadComment">
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.UserId)
        @Html.HiddenFor(x => x.UserName)
        <div style="text-align: center; font-size: x-large; font-family:My_Flex_font; color: white; ">
            @Html.LabelFor(model => model.MessageFromUser, htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
        <p> &emsp; </p>
        <div style="height:auto; min-height: 100px; max-height: 400px; color: black; font-family: My_eraser_font;  background-color: white; border-radius: 10px; margin: 2% 2% auto 2%;">
            <div style="text-align: start; font-size: medium;">
                @Html.DisplayFor(model => model.MessageFromUser, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <p> &emsp; </p>
        <p> &emsp; </p>
        <p> &emsp; </p>
        <p> &emsp; </p>
        <div style="text-align: center; font-size: x-large; font-family:My_Flex_font; color: white; ">
            @Html.Action("AllUploadsByIdOfComment", new { id = Model.Id })
        </div>
        <div class="upload">
            @Html.ActionLink("НАЗАД К ОТЗЫВАМ", "GetAllComments", new { @class = "upload" })
        </div>
    </div>
}
